.reviewItem{
    margin-left: 10vw;
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.reviewItem:last-child{
    border-bottom: none;
}
.name{
    color: blue;
    text-decoration: none;
}
.reviewBtn{
    background: goldenrod;
    width:150px;
    height: 30px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    cursor: pointer;
}
h5 .price{
    font-size: 18px;
    font-weight: 500;
}